!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %title= data.page.title || "EmberScript: Ember.js-Infused CoffeeScript"
    %link{:href => image_path('favicon.png'), :rel => 'icon'}
    %link{:href => image_path('favicon@2x.png'), :rel => 'icon', :sizes => '32x32'}
    = stylesheet_link_tag "all"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37615379-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  
  %body{class: page_classes}
    .main
      = yield
    <a href="https://github.com/ghempton/ember-script"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    = javascript_include_tag  "vendor/ace/ace", "all"

    .footer
      Design and Development by
      = link_to 'Gordon L. Hempton', 'http://codebrief.com'
      &copy; 2013