# EmberScript
## Ember.js-Infused CoffeeScript

EmberScript is a [CoffeeScript](http://coffeescript.org/) derived language that has first-class support for the [Ember.js](http://emberjs.com/) runtime. It also has all of the syntactical goodness of the original Coffeescript, compiles directly into JavaScript, and can be used outside of Ember applications!

<%= example 'main' %>

*EmberScript on the left, JavaScript on the right. All examples are editable!*

### Getting Started

#### Ruby on Rails

If you are using Rails as your backend, simply add the following to your Gemfile:

```
gem 'ember_script-rails'
```

All assets ending in `.em` will be compiled by EmberScript.

#### Npm

```
sudo npm install -g 'git://github.com/ghempton/ember-script.git#HEAD'
ember-script --help
```

### Language Reference

EmberScript shares much of its syntax with CoffeeScript. For basic CoffeeScript syntax, please consult the [CoffeeScript reference](http://coffeescript.org/)

#### Object Model

EmberScript replaces the CoffeeScript `class` and `extends` keyword with the equivalent from Ember's [object model](http://emberjs.com/guides/object-model/classes-and-instances/). The `mixin` keyword is also introduced:

<%= example 'object_model' %>

#### Computed Properties and Observers

An annotation based syntax is used to declare computed properties and observers:

<%= example 'properties' %>

#### Dependency Inference

Dependencies of computed properties can be inferred at compile time. This includes enumerables and complex statements. The `~>` operator is used to define computed properties with inferred dependencies:

<%= example 'inference' %>

#### Properties and Accessors

By default, all property accesses are deferred to Ember's `get` and `set` methods. To use normal javascript property access, use the `*.` operator:

<%= example 'accessors' %>

### Who's Using EmberScript?

<div class="users">
<a href="https://grouptalent.com" title="Freelance until you find the perfect job." class="user"><%= image_tag 'grouptalent.png' %></a>
</div>